@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  font-weight: 400;
  color: #444444;
  font-size: 14px;
  line-height: 1.42857143;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

html {
  margin: 0;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

header {
  /* The side navigation menu */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}

header #top-header-container {
  height: 50px;
  line-height: 50px;
  background-color: #25bce9;
}

header #top-header-container .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #top-header-container .top-header .top-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #top-header-container .top-header .top-links ul li {
  margin-right: 20px;
  font-size: 16px;
}

header #top-header-container .top-header .top-links ul li a {
  color: #fff;
}

header #top-header-container .top-header .top-links ul li a:hover {
  color: #333;
}

header #top-header-container .top-header .top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #top-header-container .top-header .top-contact .phone,
header #top-header-container .top-header .top-contact .address {
  margin-right: 20px;
}

header #top-header-container .top-header .top-contact .phone a,
header #top-header-container .top-header .top-contact .address a {
  font-size: 12px;
  color: #fff;
}

header #top-header-container .top-header .top-contact .phone a i,
header #top-header-container .top-header .top-contact .address a i {
  margin-right: 5px;
}

header #top-header-container .top-header .top-contact .phone a:hover,
header #top-header-container .top-header .top-contact .address a:hover {
  color: #333;
}

header .main-header-container {
  background: #fff;
  line-height: 60px;
}

header .main-header-container .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-header-container .main-header .logo {
  height: 60px;
  margin: 15px 0px;
}

header .main-header-container .main-header .logo img {
  height: 100%;
}

header .main-header-container .main-header .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-header-container .main-header .main-menu ul li {
  margin: 0 12px;
  padding: 15px 0px;
}

header .main-header-container .main-header .main-menu ul li a {
  line-height: 60px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}

header .main-header-container .main-header .main-menu ul li a:hover {
  color: #25bce9;
}

header .main-header-container .main-header .cart {
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-header-container .main-header .cart .hamburger {
  display: none;
}

header .main-header-container .main-header .cart .cart-shop {
  margin-right: 20px;
}

header .main-header-container .main-header .cart i {
  line-height: 60px;
  padding: 15px 0px;
  font-size: 16px;
  color: #25bce9;
}

@media screen and (max-width: 991px) {
  header #top-header-container {
    display: none;
  }
  header .main-header-container .main-header .main-menu {
    display: none;
  }
  header .main-header-container .main-header .cart .hamburger {
    display: block;
    margin-right: 30px;
  }
}

header .sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 50;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  color: #0186ce;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .sidenav a:hover {
  color: #074da2;
  background-color: white;
}

header .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 0;
}

.index .categories-container {
  background: #f4f6fa;
  overflow-x: hidden;
}

.index .categories-container .categories {
  padding: 100px 80px;
}

.index .categories-container .categories .header {
  font-size: 25px;
  font-weight: 900;
  color: #444;
  margin-bottom: 20px;
}

.index .categories-container .categories .para {
  color: #888888;
}

.index .categories-container .categories .categories-list {
  margin-top: 20px;
}

.index .categories-container .categories .categories-list li {
  font-size: 14px;
  color: #444;
  margin-bottom: 3px;
}

.index .categories-container .categories .categories-list i {
  color: #25bce9;
  margin-right: 10px;
  font-size: 10px;
}

.index .categories-container .image-container {
  height: 500px;
}

.index .categories-container .image-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 991px) {
  .index .categories-container .categories {
    padding: 40px 40px;
  }
  .index .categories-container .categories .header {
    font-size: 20px;
  }
  .index .categories-container .categories .para {
    color: #888888;
  }
  .index .categories-container .categories .categories-list {
    margin-top: 20px;
  }
  .index .categories-container .categories .categories-list li {
    font-size: 14px;
    color: #444;
  }
  .index .categories-container .categories .categories-list i {
    color: #25bce9;
    margin-right: 10px;
    font-size: 10px;
  }
  .index .categories-container .image-container {
    display: none;
  }
}

.index .section-1-container {
  padding: 60px 0px 30px 0px;
  background: #eeeeee;
}

.index .section-1-container .section-1 {
  text-align: center;
  margin-bottom: 30px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.index .section-1-container .section-1 .icon {
  display: inline-block;
  width: 125px;
  height: 125px;
  cursor: pointer;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  vertical-align: 50%;
  background: #25bce9;
  border: 8px solid transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.index .section-1-container .section-1 .icon i {
  color: #ffffff;
  font-size: 48px;
  line-height: 115px;
}

.index .section-1-container .section-1 .text {
  margin-top: 24px;
}

.index .section-1-container .section-1 .text .header {
  font-size: 18px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 2px;
}

.index .section-1-container .section-1 .text .line {
  width: 70px;
  height: 1px;
  display: inline-block;
  background: #c2c2c2;
}

.index .section-1-container .section-1 .text .para {
  font-size: 14px;
  color: #888888;
  line-height: 20px;
  margin-top: 7px;
  font-weight: 400;
}

.index .section-1-container .section-1 .text .btn {
  margin-top: 18px;
}

.index .section-1-container .section-1 .text .btn a {
  border: 1px solid #25bce9;
  border-radius: 3px;
  color: #25bce9;
  display: inline-block;
  font-weight: 400;
  padding: 9px 15px;
  text-transform: uppercase;
  font-size: 12px;
}

.index .section-1-container .section-1 .text .btn a:hover {
  background-color: #25bce9;
  color: #fff;
}

.index .products-container {
  padding: 55px 0 6px 0;
  background-image: url("../images/parten_bg.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

.index .products-container .header {
  text-align: center;
  margin: 0 0 30px 0;
  color: #666666;
}

.index .products-container .header .title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #444;
  font-weight: bold;
}

.index .products-container .header .icon {
  display: block;
  width: 260px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.index .products-container .header .icon span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  top: 50%;
  z-index: 90;
}

.index .products-container .header .icon i {
  color: #25bce9;
  padding: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 19px;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.index .products-container .product {
  margin-bottom: 30px;
}

.index .products-container .product .image-container {
  text-align: center;
  height: 200px;
  position: relative;
  z-index: 11;
}

.index .products-container .product .image-container img {
  height: 100%;
  border-radius: 3px;
}

.index .products-container .product .product-info {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  color: #444444;
  font-weight: bold;
  width: 100%;
}

.index .products-container .product .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  margin-top: 10px;
}

.index .products-container .product .price-box .price {
  color: #25bce9;
  font-weight: 900;
  font-size: 18px;
}

.index .products-container .product .price-box .rating {
  font-size: 16px;
  display: inline-block;
  margin-left: 15px;
}

.index .products-container .product .price-box .rating i {
  color: #fbc443;
  font-size: 14px;
  margin-top: -1px;
}

.index .printing-container {
  padding-top: 25px;
  background: #fbfbfb;
  padding-bottom: 7px;
}

.index .printing-container .header {
  text-align: center;
  margin-bottom: 90px;
  color: #666666;
}

.index .printing-container .header .title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #444;
  font-weight: bold;
}

.index .printing-container .header .icon {
  display: block;
  width: 260px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.index .printing-container .header .icon span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  top: 50%;
  z-index: 90;
}

.index .printing-container .header .icon i {
  color: #25bce9;
  padding: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 19px;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.index .printing-container .print-block {
  min-height: 270px;
  text-align: center;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding-bottom: 15px;
  background: #fff;
}

.index .printing-container .print-block .icon {
  display: inline-block;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  position: relative;
  cursor: pointer;
  border: 7px solid transparent;
  margin-top: -53px;
}

.index .printing-container .print-block .icon i {
  font-size: 50px;
  margin-top: 25px;
  color: #fff;
}

.index .printing-container .print-block .title {
  margin-top: 16px;
}

.index .printing-container .print-block .title a {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.index .printing-container .print-block .number {
  margin-top: 15px;
  display: inline-block;
  line-height: 34px;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.index .printing-container .print-block .text {
  padding: 0 25px;
  margin-top: 11px;
  color: #666;
}

.index .printing-container .block-1 .icon {
  background: #fd5b4e;
}

.index .printing-container .block-1 .icon:hover {
  border-color: #d55a51;
}

.index .printing-container .block-1 .number {
  color: #fd5b4e;
}

.index .printing-container .block-2 .icon {
  background: #ffa63e;
}

.index .printing-container .block-2 .icon:hover {
  border-color: #ffcc66;
}

.index .printing-container .block-2 .number {
  color: #ffa63e;
}

.index .printing-container .block-3 .icon {
  background: #25bce9;
}

.index .printing-container .block-3 .icon:hover {
  border-color: #ade8fa;
}

.index .printing-container .block-3 .number {
  color: #25bce9;
}

.index .printing-container .printing-bg {
  min-height: 700px;
  width: 100%;
  background: url("../images/bg_make_printing.jpg") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: 50% 0;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .index .printing-container .block-2,
  .index .printing-container .block-3 {
    margin-top: 80px;
  }
}

.index .services-container {
  padding-top: 50px;
  padding-bottom: 20px;
}

.index .services-container .header {
  text-align: center;
  color: #666666;
}

.index .services-container .header .title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #444;
  font-weight: bold;
}

.index .services-container .header .icon {
  display: block;
  width: 260px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.index .services-container .header .icon span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  top: 50%;
  z-index: 90;
}

.index .services-container .header .icon i {
  color: #25bce9;
  padding: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 19px;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.index .services-container .header .sub-title {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 25px;
  display: block;
}

.index .services-container .service {
  text-align: center;
  margin-bottom: 30px;
}

.index .services-container .service .image-container {
  text-align: center;
  height: 220px;
  width: 200;
  position: relative;
  z-index: 11;
}

.index .services-container .service .image-container img {
  height: 100%;
  border-radius: 3px;
}

.index .services-container .service .title {
  margin-top: 25px;
}

.index .services-container .service .title a {
  color: #444;
  text-transform: uppercase;
}

.index .services-container .service .text {
  margin-top: 3px;
  color: #888;
  margin-bottom: 10px;
}

.index .services-container .service .btn a {
  border: 1px solid #25bce9;
  border-radius: 3px;
  color: #25bce9;
  display: inline-block;
  font-weight: 400;
  padding: 9px 15px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 15px;
}

.index .services-container .service .btn a:hover {
  color: #fff;
  background-color: #25bce9;
}

.detail .header-page {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 55px;
  line-height: 55px;
  background: #fcfcfc;
}

.detail .header-page .bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail .header-page .bread .bread-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
  color: #888888;
}

.detail .header-page .bread .bread-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail .header-page .bread .bread-2 ul a {
  font-size: 12px;
  color: #888888;
  margin-right: 10px;
}

.detail .header-page .bread .bread-2 ul a:hover {
  color: #25bce9;
}

.detail .product-info {
  background: #fbfbfb;
  padding: 50px;
}

.detail .product-info .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
}

.detail .product-info .product-detail .header {
  font-size: 24px;
  margin-bottom: 28px;
  font-weight: bold;
}

.detail .product-info .product-detail .list li {
  margin-bottom: 15px;
}

.detail .product-info .product-detail .list li i {
  margin-right: 8px;
}

.detail .product-step-order {
  padding: 30px 0 50px;
  background: #f1f2f2;
  text-align: center;
}

.detail .product-step-order .order-header {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.detail .product-step-order .order-header .icon i {
  font-size: 30px;
  color: #444444;
  background-color: #f1f2f2;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -55px;
  line-height: 50px;
  left: 50%;
  margin-left: -25px;
  border-radius: 50%;
}

.detail .product-step-order .order-header .header {
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 6px;
}

.detail .product-step-order .order-header .sub-header {
  font-size: 14px;
  color: #666666;
}

.detail .product-step-order .order-content {
  margin-top: 80px;
}

.detail .product-step-order .order-content .print-block {
  min-height: 270px;
  text-align: center;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding-bottom: 15px;
  background: #fff;
}

.detail .product-step-order .order-content .print-block .icon {
  display: inline-block;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  position: relative;
  cursor: pointer;
  border: 7px solid transparent;
  margin-top: -53px;
}

.detail .product-step-order .order-content .print-block .icon i {
  font-size: 50px;
  margin-top: 25px;
  color: #fff;
}

.detail .product-step-order .order-content .print-block .title {
  margin-top: 16px;
}

.detail .product-step-order .order-content .print-block .title a {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.detail .product-step-order .order-content .print-block .number {
  margin-top: 15px;
  display: inline-block;
  line-height: 34px;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.detail .product-step-order .order-content .print-block .text {
  padding: 0 25px;
  margin-top: 11px;
  color: #666;
}

.detail .product-step-order .order-content .block-1 .icon {
  background: #fd5b4e;
}

.detail .product-step-order .order-content .block-1 .icon:hover {
  border-color: #d55a51;
}

.detail .product-step-order .order-content .block-1 .number {
  color: #fd5b4e;
}

.detail .product-step-order .order-content .block-2 .icon {
  background: #ffa63e;
}

.detail .product-step-order .order-content .block-2 .icon:hover {
  border-color: #ffcc66;
}

.detail .product-step-order .order-content .block-2 .number {
  color: #ffa63e;
}

.detail .product-step-order .order-content .block-3 .icon {
  background: #25bce9;
}

.detail .product-step-order .order-content .block-3 .icon:hover {
  border-color: #ade8fa;
}

.detail .product-step-order .order-content .block-3 .number {
  color: #25bce9;
}

@media screen and (max-width: 767px) {
  .detail .product-step-order .block-2,
  .detail .product-step-order .block-3 {
    margin-top: 80px;
  }
}

.detail .add-cart {
  color: #666666;
  padding: 75px 0 90px 0;
}

.detail .add-cart .product-option .header {
  overflow: hidden;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.detail .add-cart .product-option .header .number {
  font-size: 36px;
  color: #fff;
  background-color: #666666;
  display: block;
  width: 51px;
  height: 48px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.detail .add-cart .product-option .header .text {
  float: left;
  padding-left: 15px;
  font-size: 24px;
  line-height: 48px;
}

.detail .add-cart .product-option .uplaod-allow {
  margin-bottom: 20px;
  color: #666;
}

.detail .add-cart .product-option .box-upload {
  background: #f0f2f3;
  padding: 15px 0px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
}

.detail .add-cart .product-option .box-upload .icon {
  padding-bottom: 20px;
}

.detail .add-cart .product-option .box-upload .icon i {
  font-size: 68px;
  color: #64bc46;
}

.detail .add-cart .product-option .box-upload .text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #64bc46;
}

.detail .add-cart .product-option .box-upload .btn a {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  background: #25bce9;
  border-bottom: 2px solid #022b37;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
}

.detail .add-cart .product-option .box-upload .btn a:hover {
  background: #ffffff;
  color: #25bce9;
}

.detail .add-cart .product-option .quantity-price .quantity {
  margin-bottom: 10px;
}

.detail .add-cart .product-option .quantity-price .quantity label {
  font-size: 16px;
  line-height: 40px;
  color: #666666;
  font-weight: 700;
  margin-right: 20px;
}

.detail .add-cart .product-option .quantity-price .quantity input {
  border: 1px solid #cccccc;
  height: 40px;
  line-height: 40px;
  width: 67px;
  text-align: center;
  font-size: 18px;
}

.detail .add-cart .product-option .quantity-price .total-price {
  margin-bottom: 20px;
}

.detail .add-cart .product-option .quantity-price .total-price label {
  font-size: 30px;
  color: #666666;
  margin-bottom: 0;
  font-weight: 700;
}

.detail .add-cart .product-option .quantity-price .total-price span {
  font-size: 24px;
  margin-left: 5px;
  color: #25bce9;
  font-weight: bold;
}

.detail .add-cart .product-option .quantity-price .btn {
  padding: 0px;
}

.detail .add-cart .product-option .quantity-price .btn a {
  width: 40%;
  height: 54px;
  background: #fbc443;
  text-align: center;
  border-bottom: 2px solid #022c39;
  font-size: 21px;
  color: #333333;
  line-height: 54px;
  font-weight: bold;
  border-radius: 4px;
  padding: 6px 12px;
}

.detail .add-cart .product-option .quantity-price .btn a i {
  margin-right: 5px;
}

.detail .add-cart .header::before {
  content: '';
  border-bottom: 1px dashed #444444;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .detail .header-page {
    height: 100px;
  }
  .detail .header-page .bread {
    display: block;
  }
  .detail .product-info {
    padding: 25px;
  }
  .detail .product-info .image-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .product-info .product-detail .header {
    font-size: 24px;
    margin-bottom: 28px;
    font-weight: bold;
  }
  .detail .product-info .product-detail .list li {
    margin-bottom: 15px;
  }
  .detail .product-info .product-detail .list li i {
    margin-right: 8px;
  }
}

footer .footer-main {
  padding: 35px 0px;
  background: #1a1a1a;
  color: #666666;
}

footer .footer-main .footer-block .title {
  font-size: 16px;
  font-weight: normal;
  color: #25bce9;
  width: 100%;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-bottom: 8px;
  position: relative;
}

footer .footer-main .footer-block .title::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40px;
  height: 1px;
  background: #25bce9;
}

footer .footer-main .footer-block .content .logo {
  height: 70px;
}

footer .footer-main .footer-block .content .logo img {
  height: 100%;
}

footer .footer-main .footer-block .content .info {
  margin-top: 22px;
  font-size: 12px;
  font-weight: 400;
  color: #444444;
}

footer .footer-main .footer-block .content .info li {
  margin-bottom: 3px;
}

footer .footer-main .footer-block .content .info i {
  margin-right: 6px;
  font-size: 128.57%;
}

footer .footer-main .footer-block .content .top-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-main .footer-block .content .top-links ul li {
  margin-right: 20px;
  font-size: 16px;
}

footer .footer-main .footer-block .content .top-links ul li a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #666;
  color: #1a1a1a;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

footer .footer-main .footer-block .content .top-links ul li a:hover {
  background-color: #25bce9;
  color: #fff;
}

footer .footer-main .footer-block .content .links li {
  padding-bottom: 5px;
}

footer .footer-main .footer-block .content .links li a {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

footer .footer-main .footer-block .content .links li a:hover {
  color: #25bce9;
}

footer .footer-bottom {
  background: #161616;
  font-size: 14px;
  margin-bottom: 0;
  color: #999999;
  padding: 15px 0px;
}

footer .footer-bottom a {
  color: #25bce9;
}

footer #button {
  display: inline-block;
  background-color: #25bce9;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

footer #button i {
  font-size: 35px;
  margin-top: 8px;
  color: #fff;
}

footer #button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

footer #button:hover {
  cursor: pointer;
  background-color: #43C3EA;
}

footer #button:active {
  background-color: #555;
}

footer #button.show {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */